$color-green: #28a745;
$color-white: #fff;

.modal{
  &_wrap {
    display: flex;
    justify-content: normal;
    form{
      p{
        font-weight: bold;
        font-size: 20px;
      }
      .line{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin: 10px 5px;
        label{
          font-weight: bold;
          margin-right: 10px;
          min-width: 150px;
          text-align: right;
        }
        div{
          flex: 1;
          max-width: 500px;
          display: -ms-flexbox;
          display: flex;
          flex-flow: column nowrap;
          position: relative;
          *{
            flex: 1;
            padding: 5px 8px;
            border: 1px solid #ccc;
          }
        }
      }
      .row{
        //justify-content: space-around;
        margin: 10px 5px;
        .line{
          label{
            min-width: 100px;
          }
          div{
            width: 190px;
          }
        }
        .test{
          position:relative;
          display: inline-block;
          width: 150px;
          padding: 0 5px;
          label{
            margin-right: 10px;
            min-width: 100px;
            font-weight: bold;
            text-align: right;
          }
          div{
            display: inline-block;
            *{
              width:100%;
              flex: 1;
              padding: 5px 8px;
              border: 1px solid #ccc;
            }
          }
        }
      }
    }
    &_button{
      display: flex;
      justify-content: center;
      padding: 10px 0;
    }
  }
  &_title{
    display: inline-block;
  }
  &_close{
    float: right;
    border: 0;
    background: none;
  }
  &_profit{
    border: 1px solid;
    text-align: center;
    background-color: $color-white;
    table{
      width: 100%;
    }
  }
  &_navigation{
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
}
.root {
  .top{
    height: 160px;
    position: relative;
    margin: 0;
    img{
      height: 100%;
      left: 0;
      object-fit: cover;
      top: 0;
      transform: none;
      width: 100%;
      filter: brightness(0.8);
    }
    &_branding{
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      &_title{
        color: $color-white;
        opacity: 1;
        position: relative;
        a{
          color: $color-white;
          font-size: 36px;
          font-weight: 800;
          text-transform: uppercase;
        }
        p{
          font-size: 14px;
        }
      }
    }
  }
  .menu{
    display: flex;
    justify-content: center;
  }
}